@zIndex1: 1;
@zIndex2: 2;
@zIndex3: 3;
@zIndex4: 4;
@zIndex5: 5;
@zIndex6: 6;

@fontSize0: 11px;
@fontSize1: 13px;
@fontSize2: 14px;
@fontSize3: 16px;
@fontSize4: 18px;
@fontSize5: 20px;
@fontSize6: 23px;
@fontSize7: 26px;
@fontSize8: 35px;
@fontSize9: 28px;
@fontSize10: 45px;

@mobileScreen: 800px;
@desktopScreen: 1300px;
@hiResScreen: 2400px;

@mainBgColor: #ebf2f6;
@secondaryColor: #eff0f3;
@secondaryBgColor: #f8f8fb;
@borderColor: #eff0f3;
@defaultFontColor: #7b8085;
@headerFontColor: #292242;

@blue: #18C0FF;
@orange: #FDB400;
@red: #F72B60;
@black: #292242;