@import "index.less";

.home {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: @defaultFontColor;
}

h1,
h2,
h3,
h4 {
  color: @headerFontColor;
}

h2 {
  margin-bottom: -22px !important;
}

h3 {
  font-weight: 500 !important;
}

hr {
  border: none;
  height: 42px;
  margin-top: 0;
  border-bottom: 1px solid #eae7e5;
  box-shadow: 0 16px 20px -20px #dcd8d8;
  margin: -50px auto 10px;
}

.scroll-rounded-corner::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: @secondaryColor;
}

.scroll-rounded-corner::-webkit-scrollbar {
  width: 10px;
  height: 6px;
  background-color: @secondaryColor;
}

.scroll-rounded-corner::-webkit-scrollbar-thumb {
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: lighten(@secondaryBgColor, 25%);
}

input[type="email"],
input[type="number"],
input[type="password"],
input[type="text"],
select,
textarea {
  border: 1px solid #ccc;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 5px;
  resize: vertical;
  font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, Segoe UI,
    Helvetica Neue, Arial, sans-serif;
}

button {
  position: relative;
  background-color: #a5c4d6;
  color: #fff;
  padding: 9px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

button,
input,
select,
textarea {
  outline: none;
}

.child-align-right {
  display: grid;
  justify-content: right;
}

.child-align-left {
  display: grid;
  justify-content: left;
}

.child-align-center {
  display: grid;
  justify-content: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}