<template>
  <div>
    <div class="employee" v-if="hasEmployee">
      <div class="employee-details">
        <div class="header">
          <h2 class="title">{{employee.name}}</h2>
          <h3> {{employee.role.title}}</h3>
        </div>
        <div class="info">
          <bullet-item :label="employee.location.name" :icon="'LocationIcon@2x.png'"> </bullet-item>
          <bullet-item :label="getLocalTime()" :icon="'TimeZoneIcon@2x.png'"> </bullet-item>
          <bullet-item :label="`Started on ${new Date(employee.joinedDate).toDateString()}`" :icon="'StartingDateIcon@2x.png'"> </bullet-item>
          <bullet-item class="link" :label="'View Connections'" :icon="'ConnectionsIcon@2x.png'"> </bullet-item>
        </div>

        <div class="panels">
          <panel :title="'Mood'" :items="toPanelContentItems([employee.currentMood])">
          </panel>

          <panel :title="'Projects'" :items="toPanelContentItems(employee.projects)">
          </panel>

          <panel :title="'Courses'" :items="toPanelContentItems(employee.courses)">
          </panel>

          <panel :title="'Calendar'" :items="meetingsToPanelContentItems(employee.meetings)">
          </panel>

        </div>
      </div>
   
      <div class="charts">
        <div class="profile-pic">
          <img :src="`/assets/images/employees/${employee.profilePicture}`" alt="">
        </div>
        <div class="drives">
          <div>
            <div class="top-bar">
              <div class="title">
                Drives
              </div>
              <more-info-icon class="more-info-icon"> </more-info-icon>
            </div>
            <div class="drive-charts">
              <template v-for="drive in employee.drives" :key="drive.name">
                <progress-chart 
                  :id="`progress-chart-${drive.name.toLowerCase()}`" 
                  :color="drive.color"
                  :name="drive.name"
                  :score="drive.score"
                > 
                </progress-chart>
              </template>
            </div>
          </div>
        </div>
      </div>
    
    </div>
  </div>
</template>

<script lang="ts">

import { Options, Vue } from 'vue-class-component';
import { getEmployee } from '../services/employee.srv'
import BulletItem from '@/components/BulletItem.vue';
import MoreInfoIcon from '@/components/MoreInfoIcon.vue';
import Panel from '@/components/Panel.vue';
import ProgressChart from '@/components/ProgressChart.vue';
import { Employee, Course, Project, Mood, Meeting } from '@/types/graphql/index'
import { PanelContentItem } from '@/types/interface'
import { timeHumanized } from '@/helpers/global.helper'

@Options({
  components: {
    BulletItem,
    MoreInfoIcon,
    Panel,
    ProgressChart,
  },
})

export default class EmployeeProfile extends Vue {

  employee: Employee | undefined = undefined
  hasEmployee: boolean = false
  
  async loadEmployee(){
    const { data } = await getEmployee( String(this.$route.params.id))
    this.employee = data.getEmployee
    this.hasEmployee = true
  }

  toPanelContentItems( items: Array<Course | Project | Mood  > ): PanelContentItem[]{
    return items.map( item =>{
      return {
        title: item.title,
      }
    })
  }

  meetingsToPanelContentItems( items: Array<Meeting> ): PanelContentItem[]{
    return items.map( item =>{
      return {
        title: item.title,
        subTitle: timeHumanized( new Date(item.time)),
        time: `${item.durationInMinutes} mins`
      }
    })
  }

  getLocalTime():string {
    const date = new Date()
    const time = timeHumanized(date)
    return `${time} ${date.getHours()>= 12? 'PM': 'AM'} Local Time `
  }

  mounted(){
    console.log( this.$route)
    this.loadEmployee()
  }
}

</script>

<style scoped lang="less">
@import "../styles/index.less";

.employee {
  display: grid;
  grid-template-columns: 400px 300px;
  padding: 1.5em 2.2em;
}

.profile-pic{
  img{
    width: 100%;
    border-radius: 10%;
  }
}

.panels {
  width: 80%;
  padding-top: 40px;
}

.drives{
  margin-top: 26px;
  padding: 12px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

  .top-bar {
    display: grid;
    grid-template-columns: auto 26px;

    .title {
      font-size: @fontSize4;
      font-weight: 400;
      padding: 10px 0 20px 10px;
    }
  } 
}

.more-info {
  margin-top: -6px;
  &:after {
    content: '\2026';
    font-size: 30px;
    color: #a9a0a0;
  }
}

.drive-charts {
  display: flex;
  flex-wrap: wrap;
}

.info {
  .link {
    color: @blue;
    font-weight: 500;
  }
}

@media (max-width: @desktopScreen){

  .employee{
    grid-template-columns: 4fr 1fr;
    padding: 1em 1em;
  }

  .profile-pic img {
    width: 60px;
    border-radius: 100px;
    height: 60px;
    margin-left: 20px;
    margin-top: 4px;
  }

  .drives{
    width: 78px;

    .more-info-icon{
      display: none;
    }
  }
}

</style>
