<template>
  <div class="home">
    <div class="main-container">
      <div class="side-bar">
        <div class="logo-content">
          <div>
            <a href="#0">
              <img src="/assets/images/WellabeeLogo@2x.png"/>
            </a>
          </div>
        </div>
        <div class="navigation-menu">
          <Sidebar> </Sidebar>
        </div>
      </div>
      <div class="content">
        <div class="title-bar">
          <div>
            
          </div>
          <div></div>
          <div class="child-align-right">
            <img class="bell-icon" src="/assets/icons/navigation/BellIcon@2x.png"/>
          </div>
        </div>
        <div class="view">
          <router-view/>
        </div>
      </div>
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import Sidebar from '@/components/Sidebar.vue';

@Options({
  components: {
    Sidebar,
  },
})

export default class Home extends Vue {

}
</script>

<style scoped lang="less">
@import "../styles/index.less";

@titleBarHeight: 45px;

.main-container {
  display: grid;
  grid-template-columns: 200px auto;

  // div {
  //   border: 2px solid #eff0f3;
  // }
  .title-bar {
    height: @titleBarHeight;
    border-bottom: 2px solid @borderColor;
    display: grid;
    grid-template-columns: 300px auto 100px;

    .bell-icon{
      width: 32px;
    }
  }
  .view {
    min-height: 100vh;
    overflow: hidden;
  }
}
.side-bar {
  border-right: 2px solid @borderColor;
  overflow: hidden;
  height: 100%;

  .logo-content {
    height: @titleBarHeight;
    border-bottom: 2px solid @borderColor;
    img {
      height: 28px;
      padding-left: 5px;
    }
  }
}

@media (max-width: @mobileScreen){
  .main-container {
    grid-template-columns: 35px auto;
  }
}

</style>
