<template>
  <div>
    <template v-for="emp in employees" :key="emp.id">
      <a class="emp-item" @click="showEmployeeProfile(emp)" >
       <div class="name"> {{emp.name }}</div>
      </a>
    </template>
  </div>
</template>

<script lang="ts">
import { Vue } from 'vue-class-component';
import { Employee } from '@/types/graphql/index'
import { getEmployees } from '../services/employee.srv'

export default class MyTeam extends Vue {
  employees: Array<Employee> = [];

  showEmployeeProfile(emp:Employee) {
    console.log("clicked: ", emp);
    this.$router.push(`/employee_profile/${emp.id}`)
  }

  async loadEmployees(){
    const { data } = await getEmployees()
    this.employees = data.getEmployees
  }

  mounted(){
    this.loadEmployees()
  }
}
</script>

<style scoped lang="less">
@import "../styles/index.less";

.emp-item {
  display: grid;
  padding: 5px;
  cursor: pointer;
  background: #eeeef5;
  margin: 5px;

  &:hover {
    background-color: @secondaryBgColor;
    border: 1px solid white;
  }
}
</style>
