<template>
  <div class="bullet-item">
    <div class="icon">
      <img :src="`/assets/icons/personal-data/${icon}`" alt="">
    </div>
    <div class="lable"> {{ label }}</div>
  </div>
</template>

<script lang="ts">
import { Options,Vue } from 'vue-class-component';

@Options({
  props: {
    label: String,
    icon: String
  }
})

export default class BulletItem extends Vue {
  label!: string
  icon!: string

  mounted(){
    console.log( this.$route)
  }
}

</script>

<style scoped lang="less">
  .bullet-item{
    padding-bottom: 3px;
    display: grid;
    grid-template-columns: 30px auto;

    img{
      width: 17px;
    }
  }
</style>