<template>
  <div>
  </div>
</template>

<script lang="ts">
import { Vue } from 'vue-class-component';

export default class Test extends Vue {


  mounted(){
    console.log( this.$route)
  }
}

</script>

<style scoped lang="less">
  
</style>
