<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 29.96">
    <path class="cls-1" d="M0,15A15,15,0,1,1,15,30,15,15,0,0,1,0,15Zm92.93,0a15,15,0,1,1,15,15,15,15,0,0,1-15-15ZM46.46,15a15,15,0,1,1,15,15,15,15,0,0,1-15-15Z"></path>
  </svg>
</template>

<script lang="ts">
import { Vue } from 'vue-class-component';

export default class MoreInfoIcon extends Vue {

}

</script>

<style scoped lang="less">
svg {
  width: 20px;
  height: 46px;

  path {
    fill: #9da09d;
  }
}
</style>
