<template>
  <div class="panel" >
    <div class="title-bar">
      <div class="title">
        <div>{{title}}</div>
        <div>
           <img :src="`/assets/emojis/${title}.png`" />
        </div>
      </div>
      <more-info-icon> </more-info-icon>
    </div>
    <hr>
    <div class="content">
      <template v-for="item in items" :key="item.title">
        <div class="content-item">
          <div class="icon child-align-center">
            <div class="icon-inner"></div>
          </div>
          <div>
            <div v-if="item.subTitle" class="time-section">
              <div class="sub-title">{{item.subTitle}} </div>
              <div class="time">{{item.time}} </div>
            </div>
            {{item.title}}
          </div>
        </div>
      </template>  
    </div>
  </div>
</template>

<script lang="ts">
import { Options, Vue } from 'vue-class-component';
import MoreInfoIcon from '@/components/MoreInfoIcon.vue';
import { PanelContentItem } from '@/types/interface'

@Options({
  components: {
    MoreInfoIcon,
  },
  props: {
    title: String,
    items: Array,
  }
})
export default class Panel extends Vue {
  title!: String
  items!: PanelContentItem[]

  mounted(){
    console.log( this.$route)
  }
}

</script>

<style scoped lang="less">
@import "../styles/index.less";
.panel {
  margin-bottom: 10px;
} 

.title-bar {
  display: grid;
  grid-template-columns: auto 24px;
  padding: 0px 10px;
  
  .title {
    display: flex;
    font-size: 18px;
    font-weight: 450;
    margin-top: 10px;
    color: @headerFontColor;
      img {
      height: 18px;
      padding: 0 10px;
      margin-top: 4px;
    }
  }
}

.content-item {
  display: grid;
  grid-template-columns: 18px auto;
  gap: 9px;
  padding-bottom: 10px;

  .time-section {
    display: flex;
    gap: 5px;

    .sub-title {
      color: @headerFontColor;
      font-weight: 500;
      font-size: @fontSize3;
    }

    .time {
      font-size: @fontSize2;
      color: lighten(@defaultFontColor, 10%)
    }

  }

  .icon {
    background: #e3e3f5;
    padding: 2px;
    border-radius: 7px;
    height: 14px;

    .icon-inner {
      height: 4px;
      width: 4px;
      background: #696666;
      margin-top: 6px;
      border-radius: 100px;
    }
  }
}
</style>
