<template>
  <div>
    <div class="chart-container child-align-center">
      <div class="progress-chart"></div>
      <label class="name">{{name}}</label>
    </div>
  </div>
</template>

<script lang="ts">

import { Options, Vue } from 'vue-class-component';
import * as d3 from 'd3';

@Options({
  props: {
    color: String,
    name: String,
    score: Number
  }
})
export default class ProgressChart extends Vue {
  color!: string
  name!: string
  score!: Number

  mounted() {
    this.generateArc();
  }

  generateArc():void {
    
    const containerId = `#progress-chart-${this.name.toLowerCase()}`
    const w = 60,                       
    h = 60,                          
    r = 30,
    color = this.color
   

    const data = [
      {'label':'complete', 'value': Number(this.score) * 10 }, 
      {'label':'remaining', 'value':100 - Number(this.score) * 10}
    ]

    // const color = d3.scale.ordinal()
    // .domain(data.map( item => item.label))
    // .range(['#98abc5', '#8a89a6'])

    // console.log( color('one'))
    
    const vis = d3.select(`${containerId} .progress-chart`)
      .append('svg:svg')             
      .data([data])                  
      .attr('width', w)          
      .attr('height', h)
      .append('svg:g')               
      .attr('transform', `translate( ${r}, ${r} )`)

    const arc = d3.svg.arc()
      .innerRadius(23)  
      .outerRadius(r);

    const pie = d3.layout.pie()           
      .value(function(d:any) { return d.value; });

    const arcs = vis.selectAll('g.slice')    
      .data(pie)                          
      .enter()                            
      .append('svg:g')                
      .attr('class', 'slice');    

    arcs.append('svg:path')
      .attr('fill', function(d, i) { 
        return i=== 0? color: '#b4bace' 
      })     
      .attr('d', arc as any);  
      
    d3.select(`${containerId} .progress-chart svg g`)
      .append('text')
      .attr('text-anchor', 'middle')
      .attr('font-size', '18px')
      .attr('y', '5')
      .text(String(this.score.toFixed(1)));
  }
}

</script>

<style scoped lang="less">
@import "../styles/index.less";
.chart-container {
  width:90px;
  text-align: center;
  .name {
    font-size: @fontSize0;
    font-weight: 450;
    
  }

  .progress-chart {
    padding-bottom: 6px;
  }
}

</style>
