<template>
  <div>
    <template v-for="item in navigations" :key="item.label">
      <a class="nav-item" :href="item.route">
        <div class="nav-icon">
          <img :src="`/assets/icons/navigation/${item.icon}`" />
        </div>
        <label class="nav-label"> {{ item.name }}</label>
      </a>
    </template>
  </div>
</template>

<script lang="ts">
import { Vue } from 'vue-class-component';
import { NavigationItem } from '../types/interface';

export default class SideBar extends Vue {
  navigations: Array<NavigationItem> = [
    { name: 'Home', route: '/', icon: 'HomeIcon@2x.png' },
    { name: 'My team', route: '/my_team', icon: 'MyTeamIcon@2x.png' },
    { name: 'My profile', route: '/my_profile', icon: 'MyProfileIcon@2x.png' },
    { name: 'Resources', route: '/resources', icon: 'ResourcesIcon@2x.png' },
    { name: 'Settings', route: '/settings', icon: 'SettingsIcon@2x.png' },
  ];
}
</script>

<style scoped lang="less">
@import "../styles/index.less";

.nav-item {
  display: grid;
  grid-template-columns: 40px auto;
  padding: 5px;
  cursor: pointer;
  text-decoration: none;
  color:@defaultFontColor;

  &:hover {
    background-color: @secondaryBgColor;
    border-radius: 20px;
    border: 1px solid white;
  }

  .nav-icon {
    img {
      width: 20px;
      cursor: pointer;
    }
  }

  .nav-label {
    text-align: left;
    cursor: pointer;
  }
}

@media (max-width: @mobileScreen){
  .nav-label {
    display: none;
  }
}

</style>
